@import "tailwindcss";

.blob {
  position: absolute;
  width: 40vw;
  height: 40vw;
  top: 2%;
  right: 0%;
  background: radial-gradient(circle at 30% 30%, #da7cf7, #0c11b3);
  border-radius: 50%;
  filter: blur(130px);
  opacity: 0.5;
}




