@import "tailwindcss";

html {
    scroll-behavior: smooth;
}

.waveform-info {
    display: none !important;
}

body {
  background-color: #e5e5f7;

  background-image:

    /* abrupt darkening starting near bottom of hero */
    linear-gradient(
      to bottom,
      rgba(0,0,0,0) calc(100dvh - 250px),
      rgba(0,0,0,0.65) calc(100dvh + 250px),
      rgba(0,0,0,0.65) 100%
    ),

    linear-gradient(30deg, #d2d2d2 12%, transparent 12.5%, transparent 87%, #d2d2d2 87.5%, #d2d2d2),
    linear-gradient(150deg, #d2d2d2 12%, transparent 12.5%, transparent 87%, #d2d2d2 87.5%, #d2d2d2),
    linear-gradient(30deg, #d2d2d2 12%, transparent 12.5%, transparent 87%, #d2d2d2 87.5%, #d2d2d2),
    linear-gradient(150deg, #d2d2d2 12%, transparent 12.5%, transparent 87%, #d2d2d2 87.5%, #d2d2d2),
    linear-gradient(60deg, #d2d2d277 25%, transparent 25.5%, transparent 75%, #d2d2d277 75%, #d2d2d277),
    linear-gradient(60deg, #d2d2d277 25%, transparent 25.5%, transparent 75%, #d2d2d277 75%, #d2d2d277);

  background-size:
    100% 100%,
    80px 140px,
    80px 140px,
    80px 140px,
    80px 140px,
    80px 140px,
    80px 140px;

  background-position:
    0 0,
    0 0,
    40px 70px,
    40px 70px,
    0 0,
    40px 70px;
}






